/* DESKTOP VIEW */
.profile {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 20%;
    margin: 8vh 2vh 0vh 2vh;
    padding: 3vh 4vh 5vh 4vh;
    text-align: left;
    border-radius: 25px;
    border: solid 5px royalblue;
    background-color: cornflowerblue;
}

h1 {
    text-align: center;
}

.fa {
    font-size: larger;
    padding: 3% 5% 0% 1%;
    color: midnightblue;
}

label {
    margin-left: 3vh;
    font-family: 'Inter', sans-serif;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 2vh 0vh 2vh 0;
    padding: 1.5vh;
    box-sizing: border-box;
    border: solid 2px darkblue;
    border-radius: 7.5px;
    background: transparent;
    font-family: 'Inter', sans-serif;
}

input[type=text]:focus,
input[type=password]:focus {
    outline: none;
    background-color: royalblue;
    color: white;
}

::placeholder {
    color: royalblue;
}

.login {
    width: 100%;
    margin-top: 4vh;
    padding: 1.75vh 0vh 1.75vh 0vh;
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: 'Inter', sans-serif;
    font-size: large;
    font-weight: bold;
    background-color: midnightblue;
    color: white;
}

.login:hover {
    box-shadow: 0px 0px 15px 0.1px midnightblue;
}

.buttonText {
    color: white;
    text-decoration: none;
}

.bawah {
    width: 100%;
    height: 65px;
    margin: 3% 0 -1% 0;
    line-height: 70px;
    text-align: center;
}

.bawah a {
    text-decoration: none;
    color: black;
}

.bawah a:hover {
    color: cyan;
}

/* MOBILE VIEW */
@media only screen and (device-width: 414px) and (device-height: 736px) {
    .profile {
        width: 82.5%;
        margin: 9vh 2vh 5vh 2vh;
    }
}