/* DESKTOP VIEW */
img {
    width: 35%;
    height: 35%;
}

.sk {
    padding: 0vh 3vh 0vh 3vh;
    border-radius: 7.5px;
    background-color: lightskyblue;
}

article {
    margin: 0vh 15vh 0vh 15vh;
    text-align: left;
}

/* MOBILE VIEW */
@media only screen and (device-width: 414px) and (device-height: 736px) {
    img {
        width: 50%;
        height: 50%;
    }

    article {
        margin: 0vh 5vh 2.5vh 5vh;
    }
}